.efficiency {
  padding-top: 60px;
  padding-bottom: 60px;

  &__title {
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  &__descr {
    margin-bottom: 40px;

    & p {
      margin: 0.5em 0;
    }

    & ul {
      padding-left: 20px;
    }

    & li {
      margin: 8px 0;

      &::marker {
        color: var(--accent);
      }
    }
  }

  &__list {
    display: grid;
    justify-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__item-value {
    font-size: 34px;
    line-height: 1.5;
    font-weight: 500;
    color: var(--accent);
  }

  &__tagline {
    font-weight: 500;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    width: 210px;
    height: 210px;
    border-radius: 16px;
    color: var(--blue);
    background-color: var(--accent);
  }

  @include media-min ($md) {
    &__title {
      margin-bottom: 36px;
    }

    &__descr {
      margin-bottom: 50px;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      gap: 0;
    }

    &__tagline {
      text-align: left;
      width: auto;
      height: auto;
    }
  }

  @include media-min ($xl) {
    padding-top: 70px;
    padding-bottom: 70px;

    &__container {
      display: flex;
    }

    &__advantages {
      position: relative;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-left: 140px;
      margin-right: 95px;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 210px);
      justify-content: end;
      gap: 10px;
      margin-bottom: 0;
    }

    &__tagline {
      position: absolute;
      top: 220px;
      right: 0;
      width: 210px;
      height: 210px;
    }
  }
}
