.footer {
  padding-top: 20px;
  padding-bottom: 40px;
  color: var(--white-60);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__logo {
    margin-bottom: 20px;

    & img {
      display: block;
      width: 49px;
      height: 56px;
    }
  }

  &__copiright {
    margin-bottom: 20px;
  }

  &__links {
    text-align: center;
  }

  &__rules {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4px;
  }

  &__link {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    margin-bottom: 20px;
  }

  @include media-min ($md) {
    &__rules {
      flex-direction: row;
      align-items: center;
      margin-bottom: 4px;

      & > a:not(:first-child) {
        margin-left: 24px;
      }
    }
  }

  @include media-min ($xl) {
    padding-top: 40px;
    padding-bottom: 60px;

    &__container {
      flex-direction: row;
      align-items: flex-start;

      & > * {
        flex-basis: 100%;
      }
    }

    &__copiright {
      order: -1;
      margin-bottom: 0;
    }

    &__logo {
      display: flex;
      justify-content: center;
      margin-bottom: 0;
      transform: translateY(-16px);
    }

    &__links {
      align-self: flex-end;
      text-align: right;
    }

    &__link {
      margin-bottom: 0;
      transition: color .3s ease-in-out;

      &:hover {
        color: var(--accent);
        text-decoration: underline;
      }
    }

    &__rules {
      margin-bottom: 12px;

      & a {
        white-space: nowrap;
      }
    }
  }
}
