html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: $mobile-min-width;
  color: var(--white);
  background-color: var(--black);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--accent);
  -webkit-tap-highlight-color: transparent;
}
